<!DOCTYPE html>
<html lang="en">

<head>
    <title>TD Nexus</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

</head>

<body>
	<!-- NAVBAR -->
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">NEXUS</a>
			</div>
			<ul class="nav navbar-nav">
				<li class="active"><a href="/">Home</a></li>
				<li><a href="logistics">Logistics</a></li>
				<li><a href="patTesting">PAT Testing</a></li>
			</ul>
		</div>
	</nav>

	<div class="container">
	    <div class="panel-group">
    	    <div class="panel panel-default">
    	        <div class="panel-body text-center">
    	            <div class="col-lg-4 col-xs-4">
    	                <a href="ordered_items">
    	                     <img src="https://i.imgur.com/BGrb269.png" style="height:70;width:70;">
    	                </a>
    	                <h4>Ordered Items</h4>
    	            </div>

    	            <div class="col-lg-4 col-xs-4">
    	                <a href="received_items">
    	                     <img src="https://i.imgur.com/T7LNJoH.png" style="height:70;width:70;">
    	                </a>
    	                <h4>Received Items</h4>
    	            </div>

    	            <div class="col-lg-4 col-xs-4">
    	                <a href="dispatched_items">
    	                     <img src="https://i.imgur.com/CmDC4p8.png" style="height:70;width:70;">
    	                </a>
    	                <h4>Dispatched Items</h4>
    	            </div>

    	        </div>
    	    </div>
	    </div>
	</div>

<!-- ADD TO DATABSE FORM -->
	<div class="text-center">
	    <button data-toggle="collapse" data-target="#add">Click to toggle ADD functionality</button>
	</div>

    <div id="add" class="collapse">
        <div class="container">
            <div class="jumbotron">
                <h3 class="text-center">Add a new item to the database.</h3>
                <form class="form-horizontal" action="?" method="POST">
                    <div class="form-group">
                        <label for="date" class="col-sm-2 control-label">Date</label>
                        <div class="col-sm-10">
                            <input type ="date" class="form-control" name="date" id="date" placeholder="dd/mm/yy">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="supplier" class="col-sm-2 control-label">Supplier</label>
                        <div class="col-sm-10">
                            <input class="form-control" name="supplier" id="supplier" placeholder="Supplier">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="item" class="col-sm-2 control-label">Item</label>
                        <div class="col-sm-10">
                            <input class="form-control" name="item" id="item" placeholder="Item">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="new/used" class="col-sm-2 control-label">New / Used?</label>
                        <div class="col-sm-10">
                            <input class="form-control" name="new/used" id="new/used" placeholder="New / Used?">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="site" class="col-sm-2 control-label">Site</label>
                        <div class="col-sm-10">
                            <input class="form-control" name="site" id="site" placeholder="Site">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="reason" class="col-sm-2 control-label">Reason</label>
                        <div class="col-sm-10">
                            <input class="form-control" name="reason" id="reason" placeholder="Reason">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="requester" class="col-sm-2 control-label">Requester</label>
                        <div class="col-sm-10">
                            <input class="form-control" name="requester" id="requester" placeholder="Requester">
                        </div>
                    </div>

                    <div class="row text-center">
                        <input method="POST" type="submit" value="SUBMIT">
                    </div>


                </form>
            </div>
        </div>
    </div>
<!-- END FORM -->

    <div class="col-xs-12" style="height:50px;"></div>

<!-- TABLE of DISPATCHED GOODS -->

    <div class="container">
        <h1 class="page-header">Dispatched Items</h1>
        <div class="table-responsive">
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Supplier</th>
                        <th>Item</th>
                        <th>Condition</th>
                        <th>Site</th>
                        <th>Reason</th>
                        <th>Requester</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in dispatched %}
                        <tr>
                            <td>{{item.date}}</td>
                            <td>{{item.supplier}}</td>
                            <td>{{item.item}}</td>
                            <td>{{item.newUsed}}</td>
                            <td>{{item.site}}</td>
                            <td>{{item.reason}}</td>
                            <td>{{item.requester}}</td>
                            <td>
                                <a href="{{ url_for('deleteDispatched', id=item.id) }} ">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </div>






</body>
<!-- FOOTER -->
<footer class="footer">
	<img src="http://i.imgur.com/qmLc27U.png" class="img-responsive center-block" alt="We Make People Smile" style="width:100px;height:100px">
	<p class="text-center">&copy; Magic Memories 2016</p>
</footer>